.dog-navigator {
  display: flex;
  background-color: #C4D7FF;
  width: 90em;
  border-radius: 5em;
  justify-content: space-between;

  .part {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-radius: 1em;
    margin: 1em;
    background-color: #FEE7F9;
    cursor: pointer;
    padding-bottom: 0.5em;

    &.selected {
      background-color: #F2BBE5;
    }

    div {
      display: flex;
      justify-content: center;
      flex: 1;
      
      img {
        align-self: center;
        width: 4em;
      }
    }
  }
  
  button {
    all: unset;
    width: 5em;
    height: 5em;
    background-size: contain;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #000;
    margin: 2em;
    cursor: pointer;
  }
}
